::-webkit-scrollbar {
    display: none;
}

h1 {
    font-weight: lighter;
    font-size: 80px;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 125px;
    z-index: 2;
}

h1:hover {
    color: #292929;
    transition: .5s;

}

.super {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

.pirate {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

.hammer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

.badomen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }